#background{
    background-image:url(images/worldmap.jpg);
    background-size: cover;

}

#heading{
    background-color: darkgray;
    text-align: center;
    font-family: 'Girassol', cursive;

}

section {
    display: grid;
    justify-content: center;
    align-content: center;
}

.grid-container {
    border-radius: 10px;
    width: 600px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.item {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    font-family: 'Girassol', cursive;
    color: black;
    background-color: floralwhite;
}

.card{
    width: 200px;
    height: 200px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    background:linear-gradient(#f8da61, #444);
    z-index: 1;
    transform: rotateY(180deg);
}

.front {
    z-index: 2;
    backface-visibility: hidden;
}

.card:hover {
    transform: rotateY(180deg);
}

.grid-container {
    perspective: 1000px;
}